<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Person Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Person Details</h2>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9" th:text="${person.getId()}"></dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9" th:text="${person.name}"></dd>

        <dt class="col-sm-3">Surname</dt>
        <dd class="col-sm-9" th:text="${person.email}"></dd>

        <dt class="col-sm-3">Year</dt>
        <dd class="col-sm-9" th:text="${person.age}"></dd>
    </dl>
    <a class="btn btn-primary" href="/people">Back to List</a>
</div>

<!-- Bootstrap JS and dependencies (jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
